nextflow.enable.moduleBinaries = true
process.cache = "lenient"
params.publish_dir_mode = "copy"
params.debug = false

includeConfig './conf/params.config'

env {
    PYTHONDONTWRITEBYTECODE=1
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_dag_${trace_timestamp}.html"
    overwrite = true
    verbose = true
}

profiles {
    standard {
        includeConfig "./conf/tower_defaults.config"
        includeConfig "./conf/perf.config"
        includeConfig "./conf/modules.config"
        conda {
            enabled = false
            useMamba = false
        }
        docker {
            enabled    = true
            runOptions = '-u $(id -u):$(id -g)'
        }
        errorStrategy = 'finish'
    }
    stub {
        docker.enabled = false
        conda.enabled = false
        includeConfig "./conf/modules.config"
        process {
            cpus = 1
            memory = "1 GB"
        }
    }
}

manifest {
   name        = 'WESQL'
   description = 'This pipeline is designed to whole exome sequencing quality control.'
   author      = 'Vinícius Castro Santos'
   version     = '1.0'
}