process {
    withLabel: 'short' {
        cpus = 4
        memory = '3 GB'
        time = '1h'
    }
    withName: KRAKEN2_KRAKEN2 {
        cpus = params.kraken2_cpus
        memory = "${params.kraken2_memory} GB"
        time = '2h'
    }

    withName: 'SAMTOOLS_INFERGENETICSEX|SAMTOOLS_CREATECOVERAGEGRAPH' {
        cpus = 8
        memory = '12 GB'
        time = '1h'
    }

    withName: SAMTOOLS_FASTQ {
        cpus = 2
        memory = '2 GB'
        time = '12h'
    }

}
