process {
    withLabel: process_single {
        cpus = 1
        memory = '6 GB'
    }
    withLabel: process_low {
        cpus = 4
        memory = '12 GB'
    }
    withLabel: process_medium {
        cpus = 15
        memory = '36 GB'
    }
    withLabel: process_high {
        cpus = 30
        memory = '72 GB'
    }
}
