process {
    withName: 'SAMTOOLS_FLAGSTAT|SAMTOOLS_IDXSTATS' {
        container = "quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/AlignmentStatistics" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: SAMTOOLS_FASTQ {
        container = "quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
    }
    withName: SAMTOOLS_DEPTH {
        container = "quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
        ext.args = { "-a" }
        publishDir = [
            path: { "${params.outdir}/${meta1.id}/Coverage" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: SAMTOOLS_INFERGENETICSEX {
        container = "docker.io/vini8cs/polars_matplotlib:1.0"
    }
    withName: SAMTOOLS_CREATECOVERAGEGRAPH {
        container = "docker.io/vini8cs/polars_matplotlib:1.0"
        publishDir = [
            path: { "${params.outdir}/Coverage_plots" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: KRAKEN2_KRAKEN2 {
        container = "quay.io/biocontainers/mulled-v2-8706a1dd73c6cc426e12dd4dd33a5e917b3989ae:c8cbdc8ff4101e6745f8ede6eb5261ef98bdaff4-0"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/Contamination" },
            mode: params.publish_dir_mode,
            pattern: "*.report.txt",
        ]
    }

    withName: KRAKEN2_CONTAMINATION {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/Contamination" },
            mode: params.publish_dir_mode
        ]
    }
    
}
