process {
    withName: 'SAMTOOLS.*' {
        container = "quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
    }
    withName: SAMTOOLS_DEPTH {
        container = "quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
        ext.args = { "-a" }
    }
    withName: SAMTOOLS_INFERGENETICSEX {
        container = "docker.io/vini8cs/polars_matplotlib:1.0"
    }
    withName: SAMTOOLS_CREATECOVERAGEGRAPH {
        container = "docker.io/vini8cs/polars_matplotlib:1.0"
    }
    withName: KRAKEN2_KRAKEN2 {
        container = "quay.io/biocontainers/mulled-v2-8706a1dd73c6cc426e12dd4dd33a5e917b3989ae:c8cbdc8ff4101e6745f8ede6eb5261ef98bdaff4-0"
    }
    withName: KRAKEN2_KRAKEN2 {
        container = "quay.io/biocontainers/mulled-v2-8706a1dd73c6cc426e12dd4dd33a5e917b3989ae:c8cbdc8ff4101e6745f8ede6eb5261ef98bdaff4-0"
    }
    withName: KRAKENTOOLS_KREPORT2KRONA {
        container = "quay.io/biocontainers/krakentools:1.2--pyh5e36f6f_0"
    }
    withName: KRONA_KTUPDATETAXONOMY {
        container = "quay.io/community.wave.seqera.io/library/krona_make:7bb1fe2561793909"
    }
    withName: KRONA_KTIMPORTTAXONOMY {
        container = "quay.io/biocontainers/krona:2.8.1--pl5321hdfd78af_1"
    }
}
