{	
	"bed_file": {
		  "path": "path/to/bed_file",
		  "md5": "md5_hash"
	},
	"samples": [
	  {
		"sample_id": "NA06994",
		"cram_file": {
		  "path": "path/to/cram_file",
		  "md5": "md5_hash"
		},
		"cram_index": {
		  "path": "path/to/cram_index_file",
		  "md5": "md5_hash"
		}
	  },
	  {
		"sample_id": "NA12878",
		"cram_file": {
			"path": "path/to/cram_file",
			"md5": "md5_hash"
		  },
		  "cram_index": {
			"path": "path/to/cram_crai_index_file",
			"md5": "md5_hash"
		  }
		}
	]
  }
